<%- include('templates/header', { user: user, isLoggedIn: isLoggedIn, isAdmin: isAdmin }) %>

<div class="px-4 py-5 my-5 text-center">
    <% if (isLoggedIn) { %>
        <h1 class="display-5 fw-bold">Hello, <%= user %>.</h1> [cite: 90]
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Welcome back to the application!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/members" class="btn btn-primary btn-lg px-4 gap-3">Members Area</a>
                <a href="/logout" class="btn btn-outline-secondary btn-lg px-4">Log Out</a>
                 <% if (isAdmin) { %>
                    <a href="/admin" class="btn btn-danger btn-lg px-4">Admin Panel</a>
                <% } %>
            </div>
        </div>
    <% } else { %>
        <h1 class="display-5 fw-bold">Welcome!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Please sign up to create an account or log in if you already have one.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/signup" class="btn btn-primary btn-lg px-4 gap-3">Sign Up</a>
                <a href="/login" class="btn btn-outline-secondary btn-lg px-4">Log In</a>
            </div>
        </div>
    <% } %>
</div>


<%- include('templates/footer') %>